### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [107]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
csv_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(csv_path)

purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [108]:
players = len(purchase_data_df["SN"].unique())
print(players)
columns = ['Total Players']
total_players_df=pd.DataFrame({
    "Total Players": [players]
})
total_players_df

576

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [109]:
total_items = purchase_data_df['Item ID'].nunique()
avg_price = purchase_data_df['Price'].mean()
total_purchases = purchase_data_df['Purchase ID'].count()
total_sales = purchase_data_df['Price'].sum()

columns = ['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue']
purchase_analysis = pd.DataFrame({
    "Number of Unique Items": [total_items],
    "Average Price": [avg_price],
    "Number of Purchases": [total_purchases],
    "Total Revenue": [total_sales]
})
purchase_analysis = purchase_analysis.style.format({'Average Price': '${:.3}', 
                                                   'Total Revenue': '${:.6}'})

purchase_analysis

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [110]:
gender_demo_df = purchase_data_df.loc[:, ['SN', 'Age', 'Gender']].drop_duplicates()
gender_count=gender_demo_df['Gender'].value_counts()
percentage = gender_count/players*100

print(gender_count)
print(percentage)

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64
Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [111]:
gender_demo_summary = pd.DataFrame({
    "Total": gender_count,
    "Percentage": percentage
}).style.format({'Percentage': '{:.4}%'})
gender_demo_summary


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [112]:
gender_analysis = purchase_data_df.groupby(["Gender"])["Price"].agg(['sum', 'count', 'mean'])
gen_avg_sale = gender_analysis['sum'] / gender_analysis['count']
gender_sales_summary = pd.DataFrame({
    "Purchase Count": gender_analysis['count'],
    "Average Purchase Price": gender_analysis['mean'],
    "Total Purchase Price": gender_analysis['sum'],
    "Average Purchase Total per Gender": gen_avg_sale 
})
gender_sales_summary = gender_sales_summary.style.format({'Average Purchase Price': '${:.3}', 
                                                          'Total Purchase Price': '${:.6}', 
                                                          'Average Purchase Total per Gender': '${:.3}'})
gender_sales_summary

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [113]:
bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 10000]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

pd.cut(purchase_data_df["Age"], bins, labels=bin_names).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [114]:
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], bins, labels=bin_names)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [115]:
age_demo_df = purchase_data_df.drop_duplicates(subset=['SN', 'Age'], keep='last')
age_demo = age_demo_df.groupby(["Age Group"])["Price"].agg(['sum', 'count', 'mean'])
age_demo

              sum  count      mean
Age Group
<10         59.64     17  3.508235
10-14       67.04     22  3.047273
15-19      329.99    107  3.084019
20-24      772.08    258  2.992558
25-29      212.15     77  2.755195
30-34      152.56     52  2.933846
35-39      111.61     31  3.600323
40+         34.84     12  2.903333

In [116]:
age_percentage = age_demo["count"] / players
age_demo_summary = pd.DataFrame({
    "Count": age_demo['count'],
    "Age Percentage": age_percentage*100
})
age_demo_summary = age_demo_summary.style.format({'Age Percentage': '{:.3}%'})
age_demo_summary

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [117]:
age_avg_sale = age_demo['sum'] / age_demo['count']
age_sales_summary = pd.DataFrame({
    "Purchase Count": age_demo['count'],
    "Average Purchase Price": age_demo['mean'],
    "Total Purchase Price": age_demo['sum'],
    "Average Purchase Total per Age": age_avg_sale 
})
age_sales_summary = age_sales_summary.style.format({'Average Purchase Price': '${:.3}', 
                                                          'Total Purchase Price': '${:.6}', 
                                                          'Average Purchase Total per Age': '${:.3}'})
age_sales_summary

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [120]:
user_sales = purchase_data_df.groupby(["SN"])["Price"].agg(['sum', 'count', 'mean'])

user_sales_summary = pd.DataFrame({
    "Purchase Count": user_sales['count'],
    "Average Purchase Price": user_sales['mean'],
    "Total Sales per Person": user_sales['sum']
}).sort_values("Total Sales per Person", ascending=False) \
                    .head(5).style.format({'Average Purchase Price': '${:.3}', 
                    'Total Sales per Person': '${:.6}', 
                    'Avg Sale per Person': '${:.3}'})

user_sales_summary

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [123]:
itemData = purchase_data_df.groupby(['Item ID', 'Item Name'])['Price'].agg(['sum', 'count', 'mean'])
itemData.columns = ["Item Total Sales", "Purchase Count", "Avg Item Price"]
itemData_df = pd.DataFrame(itemData).sort_values("Purchase Count", ascending=False)\
                    .head(20).style.format({'Avg Item Price': '${:.6}', 
                    'Item Total Sales': '${:.4}'})
itemData_df

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [125]:
profitable_items = pd.DataFrame(itemData) \
                    .sort_values('Item Total Sales', ascending=False) \
                    .head(5).style.format({'Avg Item Price': '${:.6}',
                                          'Item Total Sales': '${:.4}'})
profitable_items